//====================================================================================================
.header {
	position: relative;
	// min-height: toRem(500);
	padding-top: toRem(20);
	padding-bottom: toRem(20);
	// overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("@img/bg_01.svg");
		background-position: center;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 36%;
		z-index: 2;
		background: linear-gradient(0deg, rgb(15 23 42) 0%, rgb(8 14 27 / 72%) 0%, rgb(8 14 27 / 0%) 100%);
	}
	&__gradient {
		position: absolute;
		bottom: -8%;
		left: 50%;
		transform: translateX(-48%);
		width: 160%;
		height: auto;
		z-index: -1;
	}
	&__container {
		position: relative;
		z-index: 4;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__body {
		text-align: center;
		margin-top: toRem(60);
	}
	&__titile {
		font-weight: 700;
		font-size: toRem(70);
	}

	&__subtitle {
		font-weight: 500;
		margin-top: toRem(10);
		font-size: toRem(20);
		color: $lightColorLink;
	}
}
.actions-header {
	margin-top: toRem(40);
}
.actions-header__top {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: toRem(10);

}
.bottom-actions-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: toRem(20);
	margin-top: toRem(16);
}
.actions-header__fiver {
}
.actions-header__github {
	line-height: 130%;
	&::before {
		font-size: toRem(20);
	}
}
